table, th{
    border: 1px solid black;
    border-radius: 8px;
}

.content{
    width: 40%;
    max-width: 1200px;
    height: 430px;
    display: flex;
    flex-wrap: wrap;
    margin: auto;
}

.content .tarjeta{
    width: 400px;
    height: 200px;
    border-radius: 8px;
    box-shadow: 0 2px 2px rgba(0, 0, 0, 0.4);
    overflow:hidden;
    margin: 30px;
    text-align: center;
    transition: all 0.35s;
}

.content.tarjeta:hover{
    transform: translate(-15px);
    box-shadow: 0 12px 16px rgba(0, 0, 0, 0.2);
}

.content.tarjeta p{
    padding: 0 1rem;
    font-size: 16px;
    font-weight: 30px;
}

.content p.enunciado_act{
    text-align: center;
    

}
